html {
  box-sizing: border-box;
  font: normal 100% montserrat, sans-serif;
  background: #eaf1e7;/*fef9f1*/
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

main {
}

header, ul {
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

ul {
  display: flex;
}

li a {
  display: block;
  color: #15350C;
  text-align: center;
  padding: 14px 16px;
  text-transform: uppercase;
  text-decoration: none;
}

li a:hover {
  background-color: #9fd2ff;
  border-radius: 2em;
}

.learn-more {
  border-radius: 2em;
  background-color: #d2eaff;
}

h1 {
}

.intro {
  text-align: center;
  display: block;
  background: #15350C;
  background-image: url("../images/banner-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  height: 280px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
}

.intro h1 {
  font-family: montserrat;
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
  padding-top: 2.8rem;
  line-height: 3rem;
}

.intro h2 {
  font-family: montserrat light;
  font-size: 1.25rem;
  color: #fff;
}

.about {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1em;
  margin-left: 9rem;
  margin-right: 9rem;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

.about h3 {
  color: #85AB70;
  font-family: montserrat regular;
  font-size: 1.5em;
}

.about img {
  max-width: 25em;
  max-height: 60em;
  border-radius: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: .8em;
}

.svg img {
  max-width: 25em;
  max-height: 25em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 4em;
  margin-bottom: .8em;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  max-width: 65em;
  margin-left: 6.5rem;
}

.plants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 30em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  border-radius: 1em;
  background: #fff;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

.plants img {
  max-width: 15em;
  max-height: 20em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.plants h2 {
  margin-bottom: 1em;
  color: #85AB70;
  font-family: montserrat regular;
  text-align: center;
  font-size: 1.5em;
}

footer a {
  text-decoration: none;
}

footer {
  display: flex;
  background: #FEF9F1;
  padding: 1em;
  flex-direction: column;
  text-align: center;
  gap: .5rem;
  text-align: center;
  text-transform: uppercase;
}

footer nav ul {
  margin: 1em;
  background: #FEF9F1;
  justify-content: center;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  padding-bottom: 2em;
}

/* END INDEX CONTENT */

.about-monstera {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
  margin-left: 9rem;
  margin-right: 9rem;
  border-radius: 1em;
  padding-right: 1rem;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

.text {
  font-size: .9em;
  line-height: 1.3em;
}

.about-monstera h3 {
  color: #85AB70;
  font-family: montserrat semibold;
  Font-weight: 600;
  font-size: 1.6em;
  text-transform: uppercase;
  margin-bottom: .2em;
}

.about-monstera img {
  max-width: 40em;
  max-height: 60em;
  border-radius: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: .8em;
}

.description {
  color: #15350C;
  font-family: montserrat regular;
  font-size: .65em;
  margin-left: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.plantpage1 {
  text-align: center;
  text-transform: uppercase;
  display: block;
  background: #15350C;
  background-image: url("../images/greenhouse-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  padding-top: 4.5rem;
  width: 100%;
  height: 280px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}

.plantpage1 h1 {
  font-family: montserrat;
  font-size: 3.5rem;
  color: #fff;
}

.variety {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 30em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: .5em;
  border-radius: 1em;
  background: #fff;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

.variety img {
  max-width: 15em;
  border-radius: 1em;
}

.variety h2 {
  color: #85AB70;
  font-family: montserrat semibold;
  Font-weight: 600;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
}
/* END MONSTERA PAGE CONTENT */

.pest-banner {
  text-align: center;
  text-transform: uppercase;
  display: block;
  background: #15350C;
  background-image: url("../images/greenhouse-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  padding-top: 4.5rem;
  width: 100%;
  height: 280px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}

.pest-banner h1 {
  font-family: montserrat;
  font-size: 3.5rem;
  color: #fff;
}

.about-pests {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
  margin-left: 9rem;
  margin-right: 9rem;
  border-radius: 1em;
  padding-right: 2rem;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

.about-pests h3 {
  color: #85AB70;
  font-family: montserrat semibold;
  Font-weight: 600;
  font-size: 1.6em;
  text-transform: uppercase;
  margin-bottom: .2em;
}

.about-pests img {
  max-width: 40em;
  max-height: 60em;
  margin-top: 1rem;
  border-radius: 1em;
}

.pest-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 30em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: .5em;
  border-radius: 1em;
  background: #fff;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

.pest-cards img {
  max-width: 15em;
  border-radius: 1em;
}

.pest-cards h2 {
  color: #85AB70;
  font-family: montserrat semibold;
  Font-weight: 600;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
}

.pest-cards h3 {
  color: #85AB70;
  font-family: montserrat;
  text-align: center;
  padding-top: .5em;
  font-size: 1em;
  line-height: .5em;
}

.pest-cards div p {
  line-height: 1em;
  font-size: .85em;
}

/* END PEST CONTENT */
