html {
  box-sizing: border-box;
  font: normal 100% montserrat, sans-serif;
  background: #fef9f1;
}

*, *::before, *::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

header, ul {
  background-color: #eaf1e7;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

ul{
  display: flex;
}

li a {
  color: #666;
}

li a {
  display: block;
  color: #15350C;
  text-align: center;
  padding: 14px 16px;
  text-transform: uppercase;
  text-decoration: none;
}

li a:hover {
  background-color: #ADC7A0;
}

/*main {
  padding: 1rem 1.5rem;*/
}

h1 {

}

.intro {
  text-align: center;
  display: block;
  background: #15350C;
  background-image: url("../images/banner-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  height: 280px;
  overflow: hidden;
  position: relative;
  margin-bottom: 4rem;
}

.intro h1 {
  font-family: montserrat;
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
  padding-top: 2.8rem;
  line-height: 3rem;
}

.intro h2 {
  font-family: montserrat light;
  font-size: 1.25rem;
  color: #fff;
}


/* END INDEX CONTENT */

.plantpage1 {
  text-align: center;
  text-transform: uppercase;
  display: block;
  background: #15350C;
  background-image: url("../images/greenhouse-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  padding-top: 4.5rem;
  width: 100%;
  height: 280px;
  overflow: hidden;
  position: relative;
  margin-bottom: 4rem;
}

.plantpage1 h1 {
  font-family: montserrat;
  font-size: 3.5rem;
  color: #fff;
}


/* END MONSTERA PAGE CONTENT */

.pest-banner {
  text-align: center;
  text-transform: uppercase;
  display: block;
  background: #15350C;
  background-image: url("../images/greenhouse-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  padding-top: 4.5rem;
  width: 100%;
  height: 280px;
  overflow: hidden;
  position: relative;
  margin-bottom: 4rem;
}

.pest-banner h1 {
  font-family: montserrat;
  font-size: 3.5rem;
  color: #fff;
}

/* END PEST CONTENT */
